
body {
    padding-left: 15px;
    font-family: Arial, sans-serif;
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Roboto Condensed", sans-serif;
}

.date {
    color: #828282;
}

.flight {
    margin-bottom: 40px;
}

.flight h2 a,
.flight h2 a:visited {
    color: #000000;
    text-decoration: none;
}

.flight > .date {
    float: right;
}

.flight-form textarea,
.flight-form input {
    width: 100%;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
    margin-left: 15px;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}
